nav.navigation
    .navigation_wrapper 
        a.navigation_link(href="/") TRIIIYE
        ul.navigation_list 
            li.navigation_list_item
                a.navigation_list_link(href="/work.html") Work
            li.navigation_list_item
                a.navigation_list_link(href="/services.html") Services
            li.navigation_list_item
                a.navigation_list_link(href="/about.html") About Us
            .hamburger
                .menu_one
                .menu_one
                .menu_one
