extends base.pug

block variables
  -var template = 'home'

block content
    .home#top(data-background="#F3EFE4" data-color="#000000" data-scroll-section)
        .home_wrapper
            h1.home_wrapper_title HOME

        