%paragraph-16{
    font-family: $font-neue-montreal;
    font-size: 1.6rem;
  
    @include media('<phone') {
      font-size: 1.4rem;
    }
}

%paragraph-18{
  font-family: $font-neue-montreal;
  font-size: 1.8rem;

  @include media('<phone') {
    font-size: 1.4rem;
  }
}

%paragraph-24{
  font-family: $font-neue-montreal;
  font-size: 2.4rem;

  @include media('<phone') {
    font-size: 1.4rem;
  }
}

%paragraph-40{
    font-family: $font-neue-montreal;
    font-size: 2.5rem;
  
    @include media('<phone') {
      font-size: 1.8rem;
    }
}